body {
    font-family: system-ui, sans-serif;
    margin: 24px;
    background: #f5f5f5;
    color: #333;
}

input {
    width: 100%;
    max-width: 400px;
    padding: 10px 12px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

/* Card */
.card {
    background: #fff;
    border-radius: 12px;
    padding: 12px;
    text-align: left;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.098);
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.card .name {
    font-size: 18px;
    font-weight: 600;
}

.card .info {
    font-size: 14px;
    line-height: 1.4;
    color: #555;
}

.card .info div {
}

mark {
    background-color: #ffe066;
    color: #222;
    font-weight: 600;
    padding: 0 2px;
    border-radius: 2px;
}

.inner-card-wrapper {
    position: relative;
    background-color: transparent;
}
.card-buttons {
    display: flex;
    justify-content: end;
    /* border: #1976d2 1px solid; */
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

.card-buttons button {
    font-size: 1em;
    padding: 8px;
    border: none;
    cursor: pointer;
    transition: 0.15s ease;
    background-color: transparent;
    color: #006a9b;
}
.card-buttons button:active {
    color: #17c400;
}
